.show {
    width: 100%;
    @include flexCenter(row);
    flex-wrap: wrap;
    .info,
    .info_ {
        width: 60%;
        div {
            @include flexBetween(row);
            width: 100%;
            margin: 3% 0;

            label {
            }
            span {
                display: block;
                background-color: $color_light;
                color: $light-gray;
                padding: 2% 5%;
                margin: 0 10%;
                border-radius: 10px;
                width: 60%;
            }
        }
    }
    .info_ {
        width: 100%;
    }
    .pic {
        width: 30rem;
     
        // background-color: cadetblue;
        .img {
         
            img {
                border-radius: 30px 120px 10px 200px;
            }
        }
    }
}
